@import "preflight.css";
@import "@braunstetter/rock/css/variables.css";

.cp--form--single_image {

    .image-preview {

        margin-bottom: $_1;
        max-height: $_56;
        display: flex;
        align-items: flex-end;

        > svg {
            flex-shrink: 0;
            height: $_56;
            width: $_56;
        }

        > img {
            max-height: $_56;
            max-width: 100%;
            height: auto
        }
    }

    .hidden-input {
        display: none;
    }
}

[data-controller=braunstetter--media-bundle--collection] {

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    > label {
        width: 100%;
    }

    > div.image-collection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        margin-left: -.5rem;

        > * {
            margin-left: .5rem;
        }

        @mixin space y, 2;
    }

    > div.image-collection-actions {

        display: flex;
        align-items: center;

        > button {

            cursor: pointer;
            border: none;
            display: flex;
            align-items: center;

            &:hover {
                background-color: transparent;
            }

            @mixin contains-svg md;
            @mixin btn md;

            &.hidden {
                display: none;
            }
        }

        @mixin contains-svg md;
    }

    .delete-able-image {

        display: flex;
        align-items: center;

        @mixin space x, 3;

        > * + * {
            display: flex;
            align-items: center;
        }

        > a {
            @mixin contains-svg md;
        }

        > label {
            @mixin space x, 1;
            @mixin contains-svg md;
            @mixin btn md, primary;
        }
    }

    .file-preview {
        margin-bottom: 1.5rem;
    }
}





